body{
    background-color: aqua;
}
header{
    background-color: rgb(191, 207, 18);
    text-align: center;
}

.banner{
    width: 100%;
}
.container{
    background-color: brown;
    width: 80%;
    margin:auto; 
}
footer{
    background-color: blueviolet;
    text-align: center;
}